.header{
	display: flex;
}

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.pagLogin{
	display:flex;
	margin-top: 0.2cm;
	margin-left: 32cm;
	margin-bottom: -0.8cm;
	font-family: Charcoal, sans-serif;
}

.titulo{
	display: flex;
	justify-content: center;
	font-family: Impact, Charcoal, sans-serif;
}

.telatop{
	display:flex;
	justify-content: space-evenly;
	margin-top: 0.2cm;
}

.inputfiltro{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

#filtrar-tabela{
	width: 400px;
	height: 35px;
}

.cbfiltro{
	top: 0cm;
}

.tabelatop{
	display: flex;
	justify-content: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

table tr td {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
  }
  
  table tr td:last-of-type {
	border: none;
  }

.botaoacao{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.invisivel {
	display: none;
}

#invisivel{
	display: none;
}

#table-wrapper {
	position:relative;
  }
  
  #table-scroll {
	height:415px;
	overflow:auto;  
	margin-top:0px;
  }
  #table-wrapper table {
	width:100%;
  }
  
  #table-wrapper table thead th .text{
	position: absolute;   
	justify-content:space-between;
	top:-30px;
	z-index:2;
	height:20px;
	width:100%;
	border:3px solid red;
  }